#box {
    height: 200px;
    width: 200px;
    background-image: url("/calendlylogo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: white;
    display: grid;
    column-gap: 1400px;
    grid-template-columns: 100px 300px;
    grid-template-rows: 50px;
}

.inbox {
    width: 200px;
    padding-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 100px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    width: 100px;
}

.sidebar {
    height: 30vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position:absolute;
    left:660px;
    top:300px;
    background-color: #007bff;
    overflow-y: auto;
    color: #fff;
}

.sidebar-header {
    padding: 10px 20px;
}

.sidebar-header h3 {
    margin: 0;
}

.sidebar-content {
    flex-grow: 1;
    padding: 20px;
}

.somebox {
    display: grid;
    row-gap: 40px;
    grid-template-columns: 100px;
    grid-template-rows: 50px;
}
a {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
