<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/dashboard.css" type="text/css" >

</head>
<body class="body">
<div class="navbar">

    <div id="box"></div>
    <div class="inbox">
        <a href="/login"><button class="button" >Sign In</button></a>
        <a href="/registerForm"><button class="button" >Sign Up</button></a>
    </div>
</div><br><br>
<div class="sidebar">
    <div class="somebox">
        <div><a href="/event_types"><img src="/eventtypes.png" ></a><br></div>
        <div><a href="/scheduled_events"><img src="/scheduledevents.png" ></a></div>
    </div>
</div>
</body>
</html>


