<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Date and Time</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Schedule the Meet</h2>
            <form action="/event/schedule-meetings" method="get">
                <div class="calendar-container">
                    <input type="date" name="selectedDate"  th:value="${selectedDate}" id="calendar" class="form-control mb-4">
                </div>
                <div class="time-container">
                    <label for="time" class="form-label" >Select Time:</label>
                    <select id="time" name="selectedTime" class="form-select mb-4" th:value="${selectedTime}">
                        <option value="09:00">9:00  am</option>
                        <option value="09:30">9:30  am</option>
                        <option value="10:00">10:00 am</option>
                        <option value="10:30">10:30 am</option>
                        <option value="10:30">11:00 am</option>
                        <option value="10:30">11:30 am</option>
                        <option value="10:30">12:00 am</option>
                        <option value="10:30">12:30 pm</option>
                        <option value="10:30">01:00 pm</option>
                        <option value="10:30">01:30 pm</option>
                        <option value="10:30">02:00 pm</option>
                        <option value="10:30">02:30 pm</option>
                        <option value="10:30">03:00 pm</option>
                        <option value="10:30">03:30 pm</option>
                        <option value="10:30">04:00 pm</option>
                    </select>
                    <input type="hidden" name="eventId" th:value="${eventId}">
                    <button type="submit" class="btn btn-primary">Schedule Event</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
